body {
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}

table {
  border-collapse: collapse;
  position: relative;
  width: 100%;
  height: auto;
}

tr {
  border-top: 1px solid #EFDADF;
}

td {
  padding: 5px;
}

.task-title {
  border-left: 1px solid #EFDADF;
  border-right: 1px solid #EFDADF;
  width: 85%;
}
.btn-task-check {
  border-right: 1px solid #EFDADF;
  margin-right: 2px;
  width: 5%;
}

.btn-task-check-img {
  display: block;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  background-image: url(../img/checkbox.png);
  background-repeat: no-repeat;
  background-position: 0 -16px;
}



.done {
  background-position: 0 0;
}

.done_task_title {
  text-decoration: line-through;
  color: #888888;
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.project {
  background-color: #ffffff;
  border-radius: 0 0 15px 15px;
  margin-top: 20px;
}

.project__header__project-title {
  color: #ffffff;
  background-image: linear-gradient(-90deg, #5183be 0%, #375d9e 99%);
  border: 1px solid #315589;
  -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35);
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35);
  position: relative;
  width: 100%;
}
.project__header__project-title__heading {
  display: inline-block;
    width: 90%;
}
.project__header__project-title__heading:before {
  content: url(../img/icon-project.png);
  margin: 0 10px;

}

.btn-edit-project,
.btn-delete-project {
  display: inline-block;
  width: 4%;  
}

.project__header__add-task__input {
  height: 30px;
  width: 82%;
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.75);
  border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-add-task {
  color: #ffffff;
  width: 10%;
  background-image: -webkit-gradient(linear, color-stop(0, #96cdb0), color-stop(0.97, #4d8464));
  background-image: -webkit-linear-gradient(#96cdb0 0%, #4d8464 97%);
  background-image: -o-linear-gradient(#96cdb0 0%, #4d8464 97%);
  background-image: -ms-linear-gradient(#96cdb0 0%, #4d8464 97%);
  background-image: linear-gradient(#96cdb0 0%, #4d8464 97%);
}

.project__header__add-task {
  background-image: -moz-linear-gradient(50% 0% -90deg, #e1e1e1 0%, #ccc 100%);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #e1e1e1), color-stop(1, #ccc));
  background-image: -webkit-linear-gradient(-90deg, #e1e1e1 0%, #ccc 100%);
  background-image: -o-linear-gradient(-90deg, #e1e1e1 0%, #ccc 100%);
  background-image: -ms-linear-gradient(-90deg, #e1e1e1 0%, #ccc 100%);
  background-image: linear-gradient(-90deg, #e1e1e1 0%, #ccc 100%);
  border: 1px solid #abafa3;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  width: 100%;
}

.project__header__add-task:before {
  content: url(../img/icon-plus.png);
  margin-left: 10px;
  margin-right: 10px;
}

.btn {
  cursor: pointer;
}

.btn-add-project {
  color: #ffffff;
  background-image: linear-gradient(-90deg, #5183be 0%, #375d9e 99%);
  border: 1px solid #315589;
  -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35);
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35);
  display: block;
  margin: 10px auto;
  padding: 5px 15px;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

.project__tasks__task {
  list-style-type: none;
}

.btn-edit-task-img{
  margin-left: 5px;
}